@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f5f2ee;
}

@layer utilities {
  .hidden-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none; 
  }
  .hidden-scrollbar::-webkit-scrollbar {
    display: none;
  }
}