@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(46, 46, 46);
}

@layer utilities {
  .hidden-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none; 
  }
  .hidden-scrollbar::-webkit-scrollbar {
    display: none;
  }
}